html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #073359;
    font-family: 'Crimson Pro', serif;
    color: #27F2F2;
}


td {
    color: #27F2F2;
}

th {
    color: #0F5AF2;
}

.addSpacing{
    margin:15px;
}


.btnIndex {
    background-color: #C2FBD7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #008000;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding: 0 25px;
    transition: all 200ms;
}